<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
   <!-- string interpolation - {{aim}}-->

  </nav>
  <h2 style="color: white;">Welcome {{user}}</h2>
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">DEPOSIT FORM</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="depositForm" (ngSubmit)=deposit()>
                    
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <!-- property binding - [placeholder]="accno"
                            with $event
                            (change)="acnoChange($event)" -->
                          <input type="text" class="form-control" name="acno" formControlName="dacno" placeholder="Account Number Please!" id="d_accno" required>
                          
                      </div>
                      <div *ngIf="this.depositForm.get('dacno')?.touched &&this.depositForm.get('dacno')?.errors" style="color: red;border:white 1 px 1px;">Invalid Account Number</div>

                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password"   class="form-control" name="pwd" formControlName="pswd" placeholder="password" id="login_password" required>
                      </div>
                      <div *ngIf="this.depositForm.get('pswd')?.touched &&this.depositForm.get('pswd')?.errors" style="color: red;border:white 1 px 1px;">Invalid password</div>

                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                        <input type="text" class="form-control" name="amt" formControlName="damount" placeholder="Amount" id="damt" required>
                        
                    </div>
                    <div *ngIf="this.depositForm.get('damount')?.touched &&this.depositForm.get('damount')?.errors" style="color: red;border:white 1 px 1px;">Invalid amount</div>
 
                      <div class="form-group">
                          <input type="submit"   value="Deposit" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">WITHDRAW FORM</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm"(ngSubmit)=withdraw()>
                  
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- property binding - [placeholder]="accno"
                          with $event
                          (change)="acnoChange($event)" -->
                        <input type="text" class="form-control" name="acno1" formControlName="wacno" placeholder="Account Number Please!" id="w_accno" required>
                        
                    </div>
                    <div *ngIf="this.withdrawForm.get('wacno')?.touched &&this.withdrawForm.get('wacno')?.errors" style="color: red;border:white 1 px 1px;">Invalid Account Number</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password"   class="form-control" name="pwd1" formControlName="pswd1" placeholder="password" id="login_password1" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('pswd1')?.touched &&this.withdrawForm.get('pswd1')?.errors" style="color: red;border:white 1 px 1px;">Invalid password</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                        <input type="text" class="form-control" name="amt1" formControlName="wamount" placeholder="Amount" id="wamt" required>
                        
                    </div>
                    <div *ngIf="this.withdrawForm.get('wamount')?.touched &&this.withdrawForm.get('wamount')?.errors" style="color: red;border:white 1 px 1px;">Invalid amount</div>

                    <div class="form-group">
                        <input type="submit"   value="Withdraw" class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  