<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
   <!-- string interpolation - {{aim}}-->

  </nav>
  <h2 style="color: white;">Welcome Customer...</h2>
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">DEPOSIT FORM</h3>
                  
              </div>
              <div class="card-body">
                  <form (ngSubmit)=deposit()>
                    
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <!-- property binding - [placeholder]="accno"
                            with $event
                            (change)="acnoChange($event)" -->
                          <input type="text" class="form-control" name="acno" [(ngModel)]="dacno" placeholder="Account Number Please!" id="d_accno" required>
                          
                      </div>
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password"   class="form-control" name="pwd" [(ngModel)]="pswd" placeholder="password" id="login_password" required>
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                        <input type="text" class="form-control" name="amt" [(ngModel)]="damount" placeholder="Amount" id="damt" required>
                        
                    </div>
                      
                      <div class="form-group">
                          <input type="submit"   value="Deposit" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">WITHDRAW FORM</h3>
                
            </div>
            <div class="card-body">
                <form (ngSubmit)=withdraw()>
                  
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- property binding - [placeholder]="accno"
                          with $event
                          (change)="acnoChange($event)" -->
                        <input type="text" class="form-control" name="acno1" [(ngModel)]="wacno" placeholder="Account Number Please!" id="w_accno" required>
                        
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password"   class="form-control" name="pwd1" [(ngModel)]="pswd1" placeholder="password" id="login_password1" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                        <input type="text" class="form-control" name="amt1" [(ngModel)]="wamount" placeholder="Amount" id="wamt" required>
                        
                    </div>
                    
                    <div class="form-group">
                        <input type="submit"   value="Withdraw" class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  